*, *::before, *::after {
  box-sizing: border-box;
  line-height: 1.25;
}

.animated {
  animation-name: fadeIn;
  animation-duration: 800ms;
  animation-fill-mode: both;
}
.small {
  font-size: 55%;
  margin-top: 1em !important;
  text-align: center;
}

@keyframes fadeIn {
  from {
    transform: translateY(30px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
