device-width0 = 240px
device-width1 = 320px
device-width2 = 360px
device-width3 = 411px
device-width4 = 600px
device-width5 = 800px
device-width6 = 1024px
device-width7 = 1280px
device-width8 = 1440px

/// Nokia 8110 4G
@media (max-width: device-width0)
  #container
    font-size 0.9em
    letter-spacing 1px

/// iPhone 5/SE
@media (min-width: device-width1)
  #container
    font-size 1.12em
    line-height 1.4

/// Galaxy S5
@media (min-width: device-width2)
  #container
    font-size 1.25em
    letter-spacing 1px
    line-height 1.58

/// Pixel 2/2 XL
@media (min-width: device-width3)
  #container
    font-size 1.4em
    line-height 1.58
    font-weight 300

/// Nexus 7
@media (min-width: device-width4)
  #container
    font-size 1.525em

/// Lumia 950
@media (min-width: device-width5)
  #container
    font-size 1.6em
    line-height 1.46
    width 600px

/// iPad Pro 12.9-inch
@media (min-width: device-width6)
  #container
    font-weight 400
    line-height 1.65
    width 650px

/// MDPI
@media (min-width: device-width7)
  #container
    width 700px

/// HiDPI
@media (min-width: device-width8)
  body
    font-weight 100