*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  font-size: 24px;
}

body {
  align-items: center;
  background: black;
  box-sizing: border-box;
  color: white;
  display: flex;
  flex-direction: column;
  font-family: Inter, sans-serif;
  font-weight: 200;
  height: 100vh;
  justify-content: center;
  line-height: 1.75;
  overflow: hidden;
  padding: 1rem;
  user-select: none;
  margin: 0;
}

#years {
  animation: fadeIn 1.5s ease 0ms both;
}

#months {
  animation: fadeIn 1.5s ease 100ms both;
}

#weeks {
  animation: fadeIn 1.5s ease 200ms both;
}

#days {
  animation: fadeIn 1.5s ease 300ms both;
}

#hours {
  animation: fadeIn 1.5s ease 400ms both;
}

#minutes {
  animation: fadeIn 1.5s ease 500ms both;
}

#seconds {
  animation: fadeIn 1.5s ease 600ms both;
}

#title,
#information {
  animation: fadeIn 1.5s ease 700ms both;
  color: #454545;
  font-size: 0.75em;
  font-weight: 300;
  margin-top: 1.5em;
}

.mark::after {
  content: "*";
  font-weight: bold;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media (min-width: 360px) {
  #container {
    font-size: size_small;
    line-height: 1.58;
  }
}
@media (min-width: 480px) {
  #container {
    font-size: size_small;
    line-height: 1.58;
    font-weight: 300;
  }
}
@media (min-width: 648px) {
  #container {
    width: 600px;
  }
}
@media (min-width: 768px) {
  #container {
    font-size: size_small;
    line-height: 1.46;
    width: 650px;
  }
}
@media (min-width: 1024px) {
  #container {
    font-size: size_small;
    line-height: 1.34;
    width: 700px;
    font-weight: 400;
  }
}
